<div class="jumbotron" align="center">
  <h1>Mark-It-Off</h1>
   <p>The Task manager that allows you to focus on the task and not the manager.</p>
  <p><a class="btn btn-success btn-lg btn-bloc" href="#" role="button">Create a new list</a></p>
</div>
