<br>
<div class="jumbotron" align="center">
  <h1>Welcome to Mark-It-Off</h1>
   <p>The task manager that allows you to focus on the task and not the manager.</p>
  <h4>
 <%= link_to "Sign In", new_user_session_path, class: 'btn btn-success' %> or
 <%= link_to "Get Started", new_user_registration_path, class: 'btn btn-success' %> today!
 </h4>
</div>


<div class="row">
  <div class="col-md-4" align="center">
    <h1> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h1>
      <h3> Check stuff off. </h3>
  </div>
    <div class="col-md-4" align="center">
      <h1> <span class="glyphicon glyphicon-time" aria-hidden="true"></span></h1>
        <h3> Get Clocks. </h3>
    </div>
    <div class="col-md-4" align="center">
      <h1> <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span></h1>
        <h3> Grow a tree. </h3>
    </div>
  </div>
