<br>
<div class="jumbotron" align="center">
  <h1>Mark-It-Off</h1>
   <p>The Task manager that allows you to focus on the task and not the manager.</p>
  <p><a class="btn btn-success btn-lg btn-bloc" href="#" role="button">Become Productive!</a></p>
</div>

<div class="row">
  <div class="col-md-4" align="center">
    <h1> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h1>
      <h3> Simplify you workflow and get more accomplished. </h3>
  </div>
    <div class="col-md-4" align="center">
      <h1> <span class="glyphicon glyphicon-time" aria-hidden="true"></span></h1>
        <h3> Gain a wealth of freetime </h3>
    </div>
    <div class="col-md-4" align="center">
      <h1> <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span></h1>
        <h3> Grow a tree </h3>
    </div>
  </div>
